/* ChangePopup.css */

.change-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* width: 400px; */
  /* height: 300px; */
  /* margin: auto; Updated line for centering */
  
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 15px;
  margin: 5px auto; /* Updated line for centering */
}

.btn:hover {
  background-color: #45a049;
}

/* Add your own styling for the change information */
.change-info {
  margin-top: 20px;
  text-align: center;
}

.change-info p {
  font-size: 18px;
  margin-bottom: 10px;
}

.change-info ul {
  list-style-type: none;
  padding: 0;
}

.change-info li {
  font-size: 16px;
  margin-bottom: 5px;
}
