/* paymentPageStyles.css */
.payment-page {
  padding: 20px;
  background-color: #D1E2C4;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #31352E;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

.payment-text {
 font-size: 40px;
}

.payment-details {
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Inter', sans-serif;
  background-color: #EBEBE8;
  padding-right: 30px;
  width: 600px;
}

.payment-details img {
  max-width: 300px;
  margin-right: 40px;
}

.payment-details p {
  font-size: 20px;
}

.payment-form {
  margin-top: 20px;
}

.payment-form label {
  display: block;
  margin-bottom: 10px;
}

.payment-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.payment-form button {
  background-color: #ff9900;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.payment-form button:hover {
  background-color: #e68a00;
}

.change-info {
  margin-top: 20px;
}

.payment-title {
  color: #778A35;
  margin-right: 5px;
}

p {
  font-weight: bold;
}